/*
-------The site colors---------
grey blue #95b6c1
green #80a830
dk green #566b51
background #f3f7f0
red  #E44424
lt green #a3ada0
*/
body {
	background: #f3f7f0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #777 !important;
}
body.modal-open {
	position: fixed;
}
a {
	color: #E44424;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 400;
}
h5 {
	font-weight: 700;
	font-size: 20px;
}
ul.footerNav li a{
 color: #376614;
}
/*-----the fonts----*/
@font-face {
	font-family: 'lineaArrows';
	src: url('/fonts/linea-arrows-10.woff');
}
@font-face {
	font-family: 'lineaBasic';
	src: url('/fonts/linea-basic-10.woff');
}
@font-face {
	font-family: 'lineaElaboration';
	src: url('/fonts/linea-basic-elaboration-10.woff');
}
@font-face {
	font-family: 'lineaSoftware';
	src: url('/fonts/linea-software-10.woff');
}
@font-face {
	font-family: 'lineaEcommerce';
	src: url('/fonts/linea-ecommerce-10.woff');
}
h4 {
	font-weight: 700;
}
.container-fluid {
	padding-right: 30px;
	padding-left: 30px;
}
.container-special {
	padding-right: 35px;
	padding-left: 35px;
}

/*--some special button colors--*/
.btn-info {
	color: #fff;
	background-color: #95b6c1;
	border-color: #95b6c1;
}
.btn-info:hover {
	color: #fff;
	background-color: #a9c6d0;
	border-color: #a9c6d0;
}
.btn-warning {
	color: #777;
	background-color: #f1e985;
	border-color: #f1e985;
}
.btn-warning:hover {
	color: #777;
	background-color: #eae59e;
	border-color: #eae59e;
}
.btn-orange {
	background-color: #f7ad3d;
	border-color: #f7ad3d;
	color: #fff;
}
.btn-orange:hover {
	background-color: #db9327;
	border-color: #db9327;
	color: #eee;
}
.btn-danger {
	background-color: #E44424;
}
.btn-ltGreen, .btn-success {
	background-color: #80a830;
	border-color: #80a830;
	color: #fff;
}
.btn-dkGreen {
	background-color: #566b51;
	border-color: #566b51;
	color: #fff;
}
.btn-greyBlue {
	background-color: #95b6c1;
	border-color: #95b6c1;
	color: #fff;
}
.btn-white {
	background-color: #fff;
	border-color: #fff;
	color: #777;
}
.btn-white:hover {
	background-color: #fff;
	border-color: #fff;
	color: #777;
}

/*
input[type="submit"]{
	background-color:#95b6c1;
	border-color:#95b6c1;
	color: #fff;
}
*/
.btn-ltGreen:hover, .btn-success:hover {
	background-color: #91c032;
	color: #fff;
}
.btn-dkGreen:hover {
	background-color: #889e83;
}
.btn-greyBlue:hover {
	background-color: #678f9c;
}
.btn-white:hover {
	background-color: transparent;
	color: inherit;
	transition: all .5s;
	color: #fff;
}

/*---those nice outline buttons--*/
.btn-outline {
	background-color: transparent;
	color: inherit;
	transition: all .5s;
}
.btn-white.btn-outline {
	color: #fff;
}
.btn-primary.btn-outline {
	color: #428bca;
}
.btn-success.btn-outline {
	color: #80a830;
}
.btn-info.btn-outline {
	color: #5bc0de;
}
.btn-warning.btn-outline {
	color: #f0ad4e;
}
.btn-danger.btn-outline {
	color: #E44424;
}
.btn-ltGreen.btn-outline {
	color: #80a830;
}
.btn-dkGreen.btn-outline {
	color: #566b51;
}
.btn-greyBlue.btn-outline {
	color: #95b6c1;
}
.btn-primary.btn-outline:hover, .btn-success.btn-outline:hover, .btn-info.btn-outline:hover, .btn-warning.btn-outline:hover, .btn-danger.btn-outline:hover, .btn-ltGreen.btn-outline:hover, .btn-dkGreen.btn-outline:hover, .btn-greyBlue.btn-outline:hover {
	color: #fff;
}
.btn-white.btn-outline:hover {
	color: #777;
}
.btn-round {
	border-radius: 50px;
}
.btn-big {
	padding: 15px 10px;
	font-size: 20px;
	line-height: 1.333333;
	border-radius: 6px;
}
.formInlineButton {
	margin: 5px 0 25px;
}
.btn-well {
	font-size: 18px
}

/*--the vertical scrollfor bootstrap carousel--*/
.vertical .carousel-inner {
	height: 100%;
}
.carousel.vertical .item {
	-webkit-transition: 0.6s ease-in-out top;
	-moz-transition: 0.6s ease-in-out top;
	-ms-transition: 0.6s ease-in-out top;
	-o-transition: 0.6s ease-in-out top;
	transition: 0.6s ease-in-out top;
}
.carousel.vertical .active {
	top: 0;
}
.carousel.vertical .next {
	top: 100%;
}
.carousel.vertical .prev {
	top: -100%;
}
.carousel.vertical .next.left, .carousel.vertical .prev.right {
	top: 0;
}
.carousel.vertical .active.left {
	top: -100%;
}
.carousel.vertical .active.right {
	top: 100%;
}
.carousel.vertical .item {
	left: 0;
}
​

/*-----and now the styles----*/
body > header > div > nav.navbar-default .navbar-fixed-top {
	background-color: :#f0eef4 !important;
	border-color: #c5c5c5 !important;
}
.navbar-brand {
	padding: 5px 15px;
}
.navbar-brand img {
	height: 40px;
	width: auto;
}
.navbar-default {

	/*background-color: #ffffff;*/
	border-color: #80a830;
}
.navbar-default .navbar-nav>li>a {
	color: #65891c;
}
.mainNav {
	font-size: 1.4em;
}
.contentWrapper {
	margin-bottom: 80px;
	margin-top: 80px;
	min-height: 740px;
}
.copyrightFooter {
	text-align: center;
	margin: 0 auto;
	padding: 10px 0;
}
.pageTitle::before {
	font-family: lineaArrows;
	content: "\e007";
	margin-right: 10px;
}
.form-control {
	margin-bottom: 5px;
}
.greenBox {
	padding: 20px 30px 30px 30px;
	background: #a3ada0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	position: relative;
}
.greenBox label, .greenBox h3, .greenBox h4 {
	color: #fff;
}
.greenBox h2 {
	font-weight: 700;
	font-size: 38px;
	color: #777;
}
.blueBox {
	padding: 30px;
	background: #95b6c1;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
.errorPage {
	background: #ddd;
	line-height: 80px;
}
footer {
	padding: 10px 0;
	background: #e7e7e7;
}
.vendorImage img {
	border-radius: 500px;
	-moz-border-radius: 500px;
}
.rightColumn {
	border-left: 1px solid #e7e7e7;
}
hr {
	border-top: 5px solid #e7e7e7;
}
.glyphicon.fast-right-spinner {
	-webkit-animation: glyphicon-spin-r 1s infinite linear;
	animation: glyphicon-spin-r 1s infinite linear;
}

/*
#bg {
  background: url(https://storage.cloud.google.com/eventpeace/bg.jpg?_ga=1.130914697.701505806.1472066944) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 700px;
  margin-top:-40px;
}
*/
.secondSection {
	background: #e7e7e7;
	padding: 120px 0;
}
.sectionTwoIcon {
	text-align: center;
	opacity: 0.5;
}
.sectionTwoFeature {
	text-align: center;
	font-size: 30px;
}
.thirdSection {
	background: #80a830;
	text-align: center;
	color: #fff;
	padding: 120px 0;
}
.startSelling::before {
	content: "Vendors Join for Free";
	margin-right: 20px;
	color: #fff;
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
}
.fouthSection {
	background: #333;
	padding: 120px 0;
}
.fouthSectionTagline {
	color: #fff;
	font-size: 60px;
	text-align: center;
	line-height: 80px;
}
.fifthSection {
	background: #fff;
	padding: 80px 0;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0px;
	height: 0;
	overflow: hidden;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.serviceItem {
	font-size: 18px;
	padding: 5px 15px;
	border: 1px solid #e7e7e7;
	border-radius: 6px;
	-moz-border-radius: 6px;
	margin-bottom: 5px;
	background: #fff;
}
.displayLabel {
	font-weight: 700;
	font-size: 22px;
}
.showBlock {
	margin-bottom: 35px;
}
.extras .displayLabel {
	font-weight: 400;
	font-size: 18px;
}
.tableRowBox {
	padding: 15px;
	font-size: 12px;
	background: #fff;
	border: 1px solid #e7e7e7;
	-moz-border-radius: 6px;
	margin-bottom: 5px;
}

/*--------modal------------*/
.modal-title {
}
.infoAttrsContainer, .attr-description-container, .attr-price-container {
	padding: 15px;
	border: 1px solid #e7e7e7;
	-moz-border-radius: 6px;
	margin-bottom: 5px;
}
#attr-description-container {
}
#attr-price_details-container {
}
#attr-delivery_charge-container {
}
#attr-delivery_time-container {
}
#attr-terms_conditions-container {
}
#attr-extras-container {
}

/*---------events/create results------------*/
#attr-name {
	font-size: 18px;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 5px;
	margin-top: 15px;
	font-weight: 700;
}
#attr-description {
	margin: 15px 0;
}
#attr-price {
	font-size: 24px;
	float: right;
}

/*--------*/
.editThis::after {
	font-family: lineaSoftware;
	content: " -";
	margin-left: 15px;
	font-size: 16px;
	transition: 500ms;
	position: absolute;
}
.editThis:hover::after {
	font-size: 18px;
	transition: 500ms;
	position: absolute;
}
.deleteThis::after {
	font-family: lineaArrows;
	content: " \e00e";
	margin-left: 10px;
	font-size: 16px;
	transition: 500ms;
	position: absolute;
	color: #E44424;
}
.deleteThis:hover::after {
	font-size: 18px;
	transition: 500ms;
	position: absolute;
	color: #E44424;
}
.dismissThis::after {
	/*font-family: lineaArrows;
	content: " \e00e";
	font-size: 20px;
	transition: 500ms;
	position: absolute;
	color: #999;
	background: #fff;
	border-radius: 100px;
	-moz-border-radius: 100px;
	padding-top: 0;
	margin: 0;
	line-height: 20px;
	top: 5px;
	right: 5px;
	cursor: pointer;*/
	display: none;
}
.dismissThis:hover::after {
	color: #333;
	transition: 500ms;
	cursor: pointer;
}
.greenBox .deleteThis::after {
	font-family: lineaArrows;
	content: " \e00e";
	margin-left: 15px;
	font-size: 20px;
	transition: 500ms;
	position: absolute;
	color: #E44424;
	font-weight: 700;
	right: 15px;
	top: 15px;
}
.greenBox .deleteThis:hover::after {
	font-size: 24px;
	transition: 500ms;
	position: absolute;
	color: #E44424;
	font-weight: 700;
	right: 15px;
	top: 15px;
}
.viewThis::after {
	font-family: lineaBasic;
	content: " H";
	margin-left: 40px;
	font-size: 16px;
	transition: 500ms;
	position: absolute;
}
.viewThis:hover::after {
	font-size: 18px;
	transition: 500ms;
	position: absolute;
}
.eventIcon::before {
	font-family: lineaSoftware;
	content: "F";
	margin-right: 10px;
	font-size: inherit;
	vertical-align: middle;
}
.vendorIcon::before {
	font-family: lineaEcommerce;
	content: ":";
	margin-right: 10px;
	font-size: inherit;
	vertical-align: middle;
}
.form-error {
	border-color: #f00;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(179, 0, 0, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(179, 0, 0, 0.6);
}
.eventServicesDisplay {
	padding: 20px 50px 20px 0;
	background: #e1f0d8;
	border: 1px solid #e7e7e7;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 5px;
	font-size: 18px;
	line-height: 0;
	position: relative;
}
#saveEventTotal {
	font-size: 40px;
	font-weight: 700;
	width: 50%;
}
#saveEventTotal::before {
	font-family: inherit;
	content: '$  ';
	font-size: 30px;
	font-weight: 400;
}
.eventServicesDisplayName {
	font-weight: 700;
	font-size: 12px;
	white-space: normal !important;
	word-wrap: normal !important;
	left: 35px;
	position: absolute;
}
.eventServicesDisplayPrice {
	position: absolute;
	right: 5%;
}
.eventServicesDisplayPrice span {
	background: #fff;
	padding: 5px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 700;
}
.deleteThis.eventServicesDisplayRemove::after {
	font-size: 24px !important;
}
.deleteThis.eventServicesDisplayRemove {
	text-align: right;
}
.topBannerLink {
	text-align: center;
	font-size: 16px;
	color: #fff;
}
.topBannerLink:hover {
	color: #ddd;
	transition: 300ms;
}
.rightCol .eventMatchesWrapper {
	margin-top: 40px;
}
#attr-description {
	height: 80px;
	overflow: hidden;
	padding-bottom: 10px;
}
#eventMatches {
	border-bottom: 5px solid #e7e7e7;
}

/*
#attr-description::after{
 	content: '';
position: absolute;
top: 60px;
right: 0;
width: 100%;
height: 80px;

background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 45%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 45%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
*/
.eventWrapper {
	background: #fff;
	padding: 15px;
	border: 1px solid #e7e7e7;
	-moz-border-radius: 6px;
	margin-bottom: 15px;
	opacity: 0.75;
	transition: 2500ms;
	transition-timing-function: ease-in-out;
}
.eventWrapper:hover, .eventWrapper:active {
	opacity: 1.0;
	transition: 500ms;
	transition-timing-function: ease-in-out;
}
li.verticalList {
	list-style: none;
	font-size: 16px;
	background: #fff;
	padding: 10px;
	border: 1px solid #e7e7e7;
	-moz-border-radius: 6px;
}
.eventCreateBox {
	padding: 15px;
	background: #95b6c1;
	color: #fff;
	position: relative;
}
/*#saveEventButton {
	position: absolute;
	bottom: 15px;
	right: 15px;
	width: 50%;
}********the original one*/
#saveEventButton {
    position: fixed;
    top: 50px;
    right: 15px;
    z-index: 999;
}
ul.mainCategoryIcons {
	list-style: none;
	width: 100%;
	padding-left: 0;
	border: 1px solid #e7e7e7;
}
.mainCategoryIcons li {
	display: block;
	border-bottom: 1px solid #e7e7e7;
}
.mainCategoryIcons li:last-child {
	border-bottom: none;
}
#servicesListHeading {
	font-size: 18px;
}
.eventWrapper a {
	color: #777;
	font-size: 18px;
}
.startEndTimes li {
	list-style: none;
	display: block;
	padding: 0 10px;
	border-right: 3px solid #e7e7e7;
}
.startEndTimes {
	text-align: right;
}
.startEndTimes li.eventIdLabel {
	font-weight: 700;
}
.eventTotalCost {
	font-size: 34px;
	font-weight: 700;
	color: #888;
}
.eventTotalCostLabel {
	font-weight: 400;
	font-size: 30px;
}
.map-wrapper {
	position: relative;
	padding-bottom: 75%; /* padding is the aspect ratio as width divided by height */
	height: 0;
}
.map-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.text-info img {
	opacity: 0.7;
	transition: 500ms;
}
.text-info img:hover {
	opacity: 1;
	transition: 500ms;
}
.uploadThumbnail img {
	width: 100px;
	height: auto;
	margin: 15px;
}

/*
.showBlock img{
max-width: 300px;
height: auto;
}
*/
.extras {
	padding: 15px;
}
.extraWrapper {
	background: #f7f7f7;
	padding: 15px;
	border: 1px solid #e7e7e7;
}
h2.priceBlock {
	margin: 0;
	font-weight: 700;
	color: #b3b3b3;
	padding: 0;
	text-align: center;
	font-size: 24px;
}
.serviceTitle {
	font-weight: 700;
	color: #b3b3b3;
	font-size: 40px;
}
.form-control-lg {
	display: block;
	width: 100%;
	height: 84px;
	padding: 6px 12px;
	font-size: 30px;
	line-height: 3;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#loginModalRegisterForm {
	display: none;
}
.firstThird {
	background: #fff;
	position: relative;
}
.homeCallToAction {
	top: 20%;
	left: 10%;
	right: 10%;
	width: 80%;
	position: absolute;
}
.homeAction .form-control {
	display: block;
	width: 100%;
	height: 58px;
	padding: 6px 12px;
	font-size: 18px;    /*line-height: 1.42857143;*/
	line-height: 2.85714286;
	margin: 40px 0;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.homeButtonsAction {
	padding-top: 45vh;
}
.homeBannerTop {
	margin-top: -80px;
	background: url(https://storage.googleapis.com/eventpeace/eventpeace/sparklers.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
}
.no-gutter {
	padding-left: 0;
	padding-right: 0;
}
.callToActionTagline {
	text-align: center;
	margin-bottom: 40px;
}
.headerBanner {
	height: 0px;
	background: transparent;
	top: 0;
	width: 100%;
	line-height: 0px;
	color: #fff;
}
.serviceRequestExtra {
	padding: 15px 20px 0 20px;
	border: 1px solid #e7e7e7;
	background-color: #f5f5f5;
	border-radius: 6px;
	-moz-border-radius: 6px;
	font-size: 18px;
	margin-bottom: 25px;
}
.serviceRequestExtraName {
	font-weight: 700;
}
.statusText {
	font-size: 14px;
	text-align: right;
}
.servicesName {
	font-size: 26px;
}
.servicesPrice {
	font-weight: 700;
	line-height: 40px;
}
.servicesCarret {
	float: right;
	line-height: 40px;
	opacity: 0.5;
}
.createEventFormRow {
	margin-top: -40px;
}
.panel-home {
	margin-bottom: 20px;
	background-color: #fff;
	border: 0px solid transparent;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.panel-home>.panel-heading {
	color: #333;
	background-color: #fff;
	border-color: #fff;
}
.panel-home>.panel-footer {
	padding: 10px 15px;
	background-color: #fff;
	border-top: 0px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

/***************************bof bootstrap-datetimepicker-widget*************/
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
	background-color: #80a830;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget .btn-primary {
	color: #fff;
	background-color: #80a830;
	border-color: #80a830;
}

/***************************bof service extra request*************/
.serviceRequestExtraCheckbox {
	float: left;
	padding: 0 5px;
}
.serviceRequestExtraName {
	float: left;
	padding: 0 5px;
}
.serviceRequestExtraPrice {
	float: left;
	padding: 0 5px;
}
.serviceRequestExtraDescription {
	clear: both;
}

/******************services dashboard*********************/
.serviceReqItem {
	padding: 15px;
	border: 1px solid #e7e7e7;
	border-radius: 6px;
	-moz-border-radius: 6px;
	margin-bottom: 15px;
	background: #fff;
}
.serviceReqExtraItem {
	padding: 15px;
	border: 1px solid #e7e7e7;
	background-color: #f5f5f5;
	border-radius: 6px;
	-moz-border-radius: 6px;
	margin-bottom: 5px;
}
.serviceReqButtons {
	list-style: none;
	text-align: left;
	margin: 10px;
	padding: 0;
}
.serviceReqButtons li {
	display: inline-block;
	padding: 0;
}
.serviceReqButtons li button {
	border-radius: 0;
	margin: 0 -2px;
}
.btn.disabled, .btn[disabled], fieldset[disabled] {
	-webkit-filter: grayscale(20%);
	-moz-filter: grayscale(20%);
	-ms-filter: grayscale(20%);
	-o-filter: grayscale(20%);
}
.homeTitle {
	margin: 0;
}
.homeSubTitle {
	margin: 0;
}
.leftSideReqForService {
	border-right: 5px solid #e7e7e7;
}
.editCancelButtons {
	margin: 20px 15px;
	text-align: right;
}
h2 span.smaller {
	font-size: 16px;
	font-weight: 700;
	margin-left: 10px;
}
.rightCol {
	padding: 15px;
	background: #fff;
	border: 1px solid #e7e7e7;
}
.extraWell {
	background: #c8f4b6;
	padding: 15px;
	border: 1px solid #e7e7e7;
}
.btn-help {
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
}
.pls-help::after {
	font-family: lineaBasic;
	content: " ~";
	color: #333;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 700;
	transition: 500ms;
}
.pls-help:hover::after {
	cursor: pointer;
}
.popover-title {
	padding: 8px 14px;
	margin: 0;
	font-size: 14px;
	background-color: #fffcd2;
	font-weight: 700;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
}
.evpTableCell:nth-child(2) {
	overflow-y: hidden;
	padding-bottom: 65%;
	height: 0;
}
.evpTableCell img {
	width: 100%;
}
.serviceSelectionWrapper {

	/*margin-top: 50px;*/
	padding: 0 15px;
}
.btn-xl {
	padding: 20px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 6px;
}
div.tagHolder {
	border: 0px solid #CCC;
	background: #fffce3;
	padding: 5px;
	width: 100%;
	min-height: 47px;
	overflow-y: auto;
}
.relative {
	position: relative;
}
.mainCategories {
	cursor: pointer;
}
.mainCategories.selected {
	border: solid 2px #FF8121;
}
.subsMenuWrapper {
}
#subsMenu {
	list-style: none;
	margin-bottom: 20px;
	padding-left: 0;
}
.subCategories.selected {
	border: solid 2px #FF8121;
}
.navbar-OffCanvas {
	background-color: transparent;
	border: none;
}
.navbar-OffCanvas .navbar-toggle {
	background-color: #ddd;
	border-color: #e7e7e7;
	text-transform: uppercase;
}
#subsMenuWrapper ul#subsMenu li {
	padding: 7px;
	background: #ddd;
	border-radius: 10px;
	margin-bottom: 5px;
	text-align: center;
	cursor: pointer;
}
span.modal-price {
	float: left;
	font-size: 24px;
	font-weight: 700;
}
.requestServiceTotal {
	font-size: 18px;
	margin-top: 10px;
	font-weight: 700;
	clear: both;
}
#payment-form {
	padding: 15px;
	background-color: #e7e7e7;
	margin-top: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
.form-row h3 {
	margin-top: 0;
}
.serviceRequestExtraNoteText {
	padding: 0 25px;
}
.serviceRequestNoteAuthor {
	font-size: 18px;
	font-weight: 700;
}
.requestServiceExtraLast4::before {
	content: 'Ends in ';
}
.requestServiceName {
	font-size: 24px;
}
.requestServiceCard {
	padding: 15px;
	margin: 15px 0;
	background-color: #dae6c3;
	border-radius: 10px;
	-moz-border-radius: 10px;
	text-align: center;
	font-weight: 400;
}
.requestServiceExtraBrand {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}
.requestServiceExtraPrice {
	float: left;
	margin-left: 10px;
}
.requestServiceExtraName {
	float: left;
}
.requestServiceExtraName::after {
	content: " - ";
}
.requestServiceDeliveryCharge {
	clear: both;
}
.paymentSummary {
	padding: 15px;
	margin: 15px 0;
	background: #e0f5ff;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
.vendorCardWrapper {
	padding: 15px;
}
.cardBrand {
	font-weight: 700;
}
.cardLast4::before {
	content: 'Ends in ';
}
.eachCard {
	padding: 15px;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 10px;
}
.cardBrand {
	font-size: 14px;
	font-weight: 700;
}
.cardLast4 {
	font-size: 12px;
}
img.EventServiceCatImg {
	height: 32px;
	width: 32px;
	float: left;
	margin: 4px;
}
li.mainCategories span {
	float: left;
	vertical-align: middle;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	margin: 10px 0 10px 5px;
}
.mainCategoryIcons li {
	height: 40px;
	width: 100%;
	background: #fff;
}
.mainCategoryIcons li:hover {
	background: #f7f7f7;
}
img.tipIcon {
	width: 45px;
	height: 45px;
	float: left;
	margin: 10px;
}
.searchWrap {
	padding: 15px;
	background: #fff;
	border: 1px solid #e7e7e7;
}
.eventSearchSubmit {
	border: 7px solid #afcf6f;
	font-weight: 400;
	font-size: 20px;
}
span.search::before {
	font-family: lineaBasic;
	content: "#";
	margin-right: 10px;
	font-weight: 700;
	vertical-align: bottom;
}
p.tipParagraph {
	margin: 10px 0;
	vertical-align: bottom;
	line-height: 20px;
}
.alert-warning span::before {
	font-family: lineaElaboration;
	content: "\e014";
	margin-right: 20px;
	font-weight: 700;
	vertical-align: middle;
	font-size: 40px;
}
.alert-warning {
	color: #9b8300;
	background-color: #fcf8e3;
	border-color: #faebcc;
	font-size: 18px;
}
.serviceRequestNotesList {
	border-right: 5px solid #e7e7e7;
	padding-right: 15px;
}
.serviceRequestAddCustomNote {
	margin-left: 40px;
}
.eventWrapper.eventExpired {
	background-color: rgba(147, 112, 112, 0.56);
	color: #fefefe;
}
.eventWrapper.eventExpired .panel-body {
	color: #333;
	opacity: 0.65;
}
.eventWrapper.eventExpired .panel-body img {
	filter: none;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	cursor: pointer;
}
.eventWrapper.eventExpired .panel-body .editCancelButtons {
	display: none;
}
.vendorLink {
	margin-top: 20px;
}
input[type='text'].searchText::-webkit-input-placeholder {

	/* Chrome/Opera/Safari */
	color: #ccc;
	font-size: 35px;
	padding: 5px;
}
input[type='text'].searchText::-moz-placeholder {

	/* Firefox 19+ */
	color: #ccc;
	font-size: 35px;
	padding: 5px;
}
.searchText {
	font-size: 34px;
	padding: 9px;
	height: 100%;
}
.yourMatches {
	margin-top: 20px;
}
x

/**************** LOADER ************** *****/
.loader {
	border: 5px solid #ffffff;
	border-radius: 50%;
	border-top: 5px solid #9fde90;
	width: 15px;
	height: 15px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	float: left;
	margin-right: 5px;
	margin-top: 2px;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
p.Pending {
	background-image: -webkit-linear-gradient(top, #fcf8e3 0, #f8efc0 100%);
	background-image: -o-linear-gradient(top, #fcf8e3 0, #f8efc0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
	background-image: linear-gradient(to bottom, #fcf8e3 0, #f8efc0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
	background-repeat: repeat-x;
	border-color: #f5e79e;
	padding: 5px;
}
p.Unpaid {
	background-image: -webkit-linear-gradient(top, #fcf8e3 0, #f8efc0 100%);
	background-image: -o-linear-gradient(top, #fcf8e3 0, #f8efc0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
	background-image: linear-gradient(to bottom, #fcf8e3 0, #f8efc0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
	background-repeat: repeat-x;
	border-color: #f5e79e;
	padding: 5px;
}
p.Paid {
	background-image: -webkit-linear-gradient(top, #dff0d8 0, #c8e5bc 100%);
	background-image: -o-linear-gradient(top, #dff0d8 0, #c8e5bc 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
	background-image: linear-gradient(to bottom, #dff0d8 0, #c8e5bc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
	background-repeat: repeat-x;
	border-color: #b2dba1;
	padding: 5px;
}
p.Approved {
	background-image: -webkit-linear-gradient(top, #dff0d8 0, #c8e5bc 100%);
	background-image: -o-linear-gradient(top, #dff0d8 0, #c8e5bc 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
	background-image: linear-gradient(to bottom, #dff0d8 0, #c8e5bc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
	background-repeat: repeat-x;
	border-color: #b2dba1;
	padding: 5px;
}
.modalMessageList {
	list-style: none;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
}
.redTagLine {
	color: #bf6400;
}
.addExtrasToRequest {
	padding: 15px;
	border: 1px solid #e7e7e7;
	margin-bottom: 40px;
	min-height: 200px;
}
.addExtrasToRequest h3 {
	margin-top: 0;
}
.addExtrasToRequest {
	padding: 15px;
	border: 1px solid #e7e7e7;
}
.addExtrasToRequest h3 {
	margin-top: 0;
}
.serviceRequestExtraNote {
	-webkit-box-shadow: inset 0 0 20px 0 #dedede;
	box-shadow: inset 0 0 20px 0 #dedede;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 12px;
	-moz-border-radius: 12px;
}
.serviceRequestAddNote {
	margin-bottom: 40px;
}

/******************admin*****************************/
.admin {
	background: #fc9797;
	color: #b20000;
}
.adminPayments {
}
.adminPending {
}
.mainNavDropdown hr {
	margin-top: 0;
}
td.Vendor {
	background: #64586b;
	text-align: center;
	font-weight: 700;
	color: #fff;
}
td.Planner {
	background: #a28b7b;
	text-align: center;
	font-weight: 700;
	color: #fff;
}
.notesArea {
	overflow-y: scroll;
	background: #f9f9f9;
	padding: 15px;
	border: 1px solid #e7e7e7;
	max-height: 200px;
	margin-bottom: 20px;
}
.dropdown-backdrop {
	display: none !important;
}
.searchBar .form-group .glyphicon {
	font-size: 24px;
	top: 12px;
	right: 24px;
}
.searchBar {
	padding: 0 15px;
}
.faqList ul li{
	padding:15px;
	margin-bottom:5px;
	font-size:1.2em;
}

ul.footerNav {
	display: block;
	margin:0 auto;
	text-align: center;
}

ul.footerNav li{
	display: inline;
	padding:0 10px;
	text-align: center;
}
















@-moz-document url-prefix() {
	.searchBar .form-group .glyphicon {
		font-size: 24px;
		top: 18px;/*firefox*/
		right: 24px;
	}
}

.cal-wrapper {

    position: relative;
    padding-bottom: 75%; /* padding is the aspect ratio as width divided by height */
    height: 0;
    max-width:100%;
}
.cal-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	overflow: auto;
}
.modal-backdrop
{
    opacity:0.85 !important;
}

button.calAvailability{
	margin: 15px 0;
	max-width: 100%;
	font-size:0.8em;
}





/**********************media queries*********************/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width:320px) {
	#main-navbar-collapse-1 ul.navbar-right li.dropdown {
		text-align: right;
	}
	.mainNavDropdown li a {
		line-height: 40px !important;
		font-size: 20px !important;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width:480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width:768px) {
	.mainNavDropdown li a {
		line-height: 20px !important;
		font-size: 14px !important;
	}
	img.EventServiceCatImg {
		height: 24px;
		width: 24px;
	}
	.leftCol {
		margin-bottom: 60px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width:992px) {
	.desktopEventCats {
		display: block;
		height: 100%;
	}
	.mobileEventCats {
		display: none;
		height: 0;
	}
	.cardBrand {
		font-size: 18px;
	}
	.cardLast4 {
		font-size: 16px;
	}
	.serviceSelectionWrapper {

		/*margin-top: -30px;*/
	}
	.offCanvasToggle {
		display: none;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width:1200px) {
	img.EventServiceCatImg {
		height: 32px;
		width: 32px;
	}
}

/*==========  Non-Mobile First Method  ==========*/
@media only screen and (max-width:1500px) {
	#saveEventButton {
		/*position: relative;
		bottom: 15px;
		right: 0;
		left: 0;
		width: 100%;*/
		top: 105px;
	}
	#saveEventTotal {
		margin-bottom: 20px;
		width: 100%;
	}
	.annualEvent {
		padding-bottom: 15px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width:1199px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width:991px) {
	.cardBrand {
		font-size: 14px;
		font-weight: 700;
	}
	.cardLast4 {
		font-size: 12px;
	}
	.cardLast4::before {
		content: '';
	}
	body {
		margin-top: 30px;
	}
	.homeBannerTop {
		margin-top: 0px;
		background: url(https://storage.googleapis.com/eventpeace/eventpeace/sparklers.jpg) no-repeat center center;
		height: 45vh;
		min-width: 100%;
		overflow: hidden;
		-webkit-backface-visibility: hidden;
	}
	.homeButtonsAction {
		padding-top: 15%;
	}
	.fouthSectionTagline {
		font-size: 30px;
		line-height: 30px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width:767px) {
	#CreateEventFormCarousel .form-control {
		height: 28px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
	}
	.btn-big {
		padding: 15px 10px;
		font-size: 16px;
	}
	.mainNavDropdown li {
		line-height: 40px !important;
		font-size: 20px !important;
	}
	.leftSideReqForService {
		border-right: 0px solid #e7e7e7;
	}
	.serviceRequestNotesList {
		border-right: 0px solid #e7e7e7;
		padding-right: 0px;
	}
	.serviceReqButtons {
		text-align: center;
	}
	input[type='text'].searchText::-webkit-input-placeholder {

		/* Chrome/Opera/Safari */
		font-size: 0px;
	}
	input[type='text'].searchText::-moz-placeholder {

		/* Firefox 19+ */
		font-size: 0px;
	}
	.searchBar .form-group .glyphicon {
		font-size: 24px;
		top: 6px;
		right: 14px;
	}
	.searchText {
		font-size: 24px;
	}
	.serviceSelectionWrapper {
		margin-top: 50px;
	}
	.contentWrapper {
		margin-top: 120px;
		padding: 15px;
	}
	input[type=checkbox]{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding: 10px;
	  margin: 4px 10px 0 0;
	}
	ul.vertList{
	    margin: 0;
    	padding: 0;
	}
	li.vendorIcon::before {
		display: none;
		margin: 0;
    	padding: 0;
	}
	li.verticalList {
    	padding: 10px 5px;
    	font-size: .8em;
    }

/* Extra Small Devices, Phones */
@media only screen and (max-width:479px) {
	.homeCallToAction {
		top: 30%;
	}
	.btn-xl {
		padding: 10px;
		font-size: 16px;
		line-height: 1.3333333;
		border-radius: 6px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:320px) {
}